{% load static %}
<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>cs2 skins</title>
    </head>
    <body>
        <div class="container">
            <div class="head">
                <div class="logo">
                    <img width="200" src="{% static 'home/images/logo.png' %}" alt="">
                </div>
                <div class="nav">
                    <a href="#">Rifles</a>
                    <a href="#">Pistols</a>
                    <a href="#">Knives</a>
                    <a href="#">Gloves</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="Rifles__text">
                <h2>
                    Rifles
                </h2>
            </div>
            <div class="Rifles">
                <div class="Rifles__item-container">
                    <div class="Rifles__item">
                        <div class="Rifles__item-preview">
                            <img src="{% static 'home/images/image 1.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 14 890.50
                            </span>
                        </div>
                        <div class="Rifles__item-description">
                            <span class="skin">
                                Gold Arabesque
                            </span>
                            <span>
                                AK-47
                            </span>
                        </div>
                    </div>
                </div>
                <div class="Rifles__item-container">
                    <div class="Rifles__item">
                        <div class="Rifles__item-preview">
                            <img src="{% static 'home/images/image 2.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 6 500.00
                            </span>
                        </div>
                        <div class="Rifles__item-description">
                            <span class="skin">
                                Howl
                            </span>
                            <span>
                                M4A4
                            </span>
                        </div>
                    </div>

                </div>
                <div class="Rifles__item-container">
                    <div class="Rifles__item">
                        <div class="Rifles__item-preview">
                            <img src="{% static 'home/images/image 3.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 3 950.00 
                            </span>
                        </div>
                        <div class="Rifles__item-description">
                            <span class="skin">
                                Knight
                            </span>
                            <span>
                                M4A1-S
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        


        <div class="container">
            <div class="Sniper_Rifles__text">
                <h2>
                    Sniper_Rifles
                </h2>
            </div>
            <div class="Sniper_Rifles">
                <div class="Sniper_Rifles__item-container">
                    <div class="Sniper_Rifles__item">
                        <div class="Sniper_Rifles__item-preview">
                            <img src="{% static 'home/images/image 4.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 28 000.00 
                            </span>
                        </div>
                        <div class="Sniper_Rifles__item-description">
                            <span class="skin">
                                Gungnir
                            </span>
                            <span>
                                AWP
                            </span>
                        </div>
                    </div>
                </div>
                <div class="Sniper_Rifles__item-container">
                    <div class="Sniper_Rifles__item">
                        <div class="Sniper_Rifles__item-preview">
                            <img src="{% static 'home/images/image 5.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 1 215.44 
                            </span>
                        </div>
                        <div class="Sniper_Rifles__item-description">
                            <span class="skin">
                                Death Strike
                            </span>
                            <span>
                                SSG 08
                            </span>
                        </div>
                    </div>
                </div>
                <div class="Sniper_Rifles__item-container">
                    <div class="Sniper_Rifles__item">
                        <div class="Sniper_Rifles__item-preview">
                            <img src="{% static 'home/images/image 6.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 233.03 
                            </span>
                        </div>
                        <div class="Sniper_Rifles__item-description">
                            <span class="skin">
                                Chronos
                            </span>
                            <span>
                                G3SG1
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="container">
            <div class="Pistols__text">
                <h2>
                    Pistols
                </h2>
            </div>
            <div class="Pistols">
                <div class="Pistols__item-container">
                    <div class="Pistols__item">
                        <div class="Pistols__item-preview">
                            <img src="{% static 'home/images/image 7.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 2 500.00 
                            </span>
                        </div>
                        <div class="Pistols__item-description">
                            <span class="skin">
                                Blaze
                            </span>
                            <span>
                                Desert Eagle 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="Pistols__item-container">
                    <div class="Pistols__item">
                        <div class="Pistols__item-preview">
                            <img src="{% static 'home/images/image 8.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 633.18 
                            </span>
                        </div>
                        <div class="Pistols__item-description">
                            <span class="skin">
                                Kill Confirmed
                            </span>
                            <span>
                                USP-S
                            </span>
                        </div>
                    </div>
                </div>
                <div class="Pistols__item-container">
                    <div class="Pistols__item">
                        <div class="Pistols__item-preview">
                            <img src="{% static 'home/images/image 9.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 1 773.00 
                            </span>
                        </div>
                        <div class="Pistols__item-description">
                            <span class="skin">
                                Fade
                            </span>
                            <span>
                                Glock-18 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="Knives__text">
                <h2>
                    Knives
                </h2>
            </div>

            <div class="Knives">
                <div class="Knives__item-container">
                    <div class="Knives__item">
                        <div class="Knives__item-preview">
                            <img src="{% static 'home/images/image 10.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 18 519.31
                            </span>
                        </div>
                        <div class="Knives__item-description">
                            <span class="skin">
                                Doppler
                            </span>
                            <span>
                                M9 Bayonet
                            </span>
                        </div>
                    </div>
                </div>
                <div class="Knives__item-container">
                    <div class="Knives__item">
                        <div class="Knives__item-preview">
                            <img src="{% static 'home/images/image 11.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 13 800.00
                            </span>
                        </div>
                        <div class="Knives__item-description">
                            <span class="skin">
                                Gamma Doppler
                            </span>
                            <span>
                                Karambit
                            </span>
                        </div>

                    </div>
                </div>
                <div class="Knives__item-container">
                    <div class="Knives__item">
                        <div class="Knives__item-preview">
                            <img src="{% static 'home/images/image 12.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 12 000.00 
                            </span>
                        </div>
                        <div class="Knives__item-description">
                            <span class="skin">
                                Doppler
                            </span>
                            <span>
                                Butterfly Knife
                            </span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>




        <div class="container">
            <div class="Gloves__text">
                <h2>
                    Gloves
                </h2>
            </div>
            <div class="Gloves">
                <div class="Gloves__item-container">
                    <div class="Gloves__item">
                        <div class="Gloves__item-preview">
                            <img src="{% static 'home/images/image 13.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 11 000.00 
                            </span>
                        </div>
                        <div class="Gloves__item-description">
                            <span class="skin">
                                Crimson Kimono
                            </span>
                            <span>
                                Specialist Gloves
                            </span>
                        </div>
                    </div>
                </div>
                <div class="Gloves__item-container">
                    <div class="Gloves__item">
                        <div class="Gloves__item-preview">
                            <img src="{% static 'home/images/image 14.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 19 524.06 
                            </span>
                        </div>
                        <div class="Gloves__item-description">
                            <span class="skin">
                                Pandora's Box
                            </span>
                            <span>
                                Sport Gloves
                            </span>
                        </div>

                    </div>
                </div>
                <div class="Gloves__item-container">
                    <div class="Gloves__item">
                        <div class="Gloves__item-preview">
                            <img src="{% static 'home/images/image 15.png' %}" alt="">
                            <span>
                                <span class="colortext">$</span> 2 334.91 
                            </span>
                        </div>
                        <div class="Gloves__item-description">
                            <span class="skin">
                                Finish Line
                            </span>
                            <span>
                                Moto Gloves
                            </span>
                        </div>
                    </div>
                </div>  
            </div>
        </div>





        <div class="container">
            <div class="anketa__text">
                <h2>
                    Залишити заявку
                </h2>
            </div>
            <div class="anketa">
                <div class="anketa__item-container">
                    <div class="anketa__image">
                        <img width="425px" src="{% static 'home/images/image 16.png' %}" alt="">
                    </div>
                </div>
                <div class="anketa__item-container">
                    <div class="anketa__text2">
                        <span class="anketa__item1">
                            Як отримати скіни
                        </span>
                        <span class="anketa__txt">
                            1. Залишити заявку.
                        </span>
                        <span class="anketa__txt">
                            2. Зачекати відповіді продавця.
                        </span>
                        <span class="anketa__txt">
                            3. Зробити все, що скаже продавець
                        </span>
                        <span class="anketa__txt">
                            4. Отримати скіни.
                        </span>
                    </div>
                </div>
                <div class="anketa__item-container">
                    <div class="anketa__sent">
                        <input class="anketa__input" type="text" placeholder="Ваше ім’я">
                        <input class="anketa__input" type="text" placeholder="E-mail">
                        <input class="anketa__input" type="text" placeholder="Номер телефону">
                        <textarea class="anketa__coment" type="text" placeholder="Коментар"></textarea>
                        <button class="anketa__btn">
                            Надіслати
                        </button>
                    </div>
                </div>  
            </div>
        </div>



        <div class="container">
            <div class="feature__text">
                <h2>
                    Переваги та особливості
                </h2>
            </div>
            <div class="feature">
                <div class="feature__item-container">
                    <div class="feature__1">
                        <div class="feature__txt1">
                            Ми швидко надаємо товар нашим клієнтам
                        </div>
                        <div class="feature__txt2">
                            Після того, як ви залишите заявку, продавець швидко вам відповість та скаже як отримати свій товар
                        </div>
                    </div>
                </div>
                <div class="feature__item-container">
                    <div class="feature__image">
                        <img width="605px" src="{% static 'home/images/image 17.png' %}" alt="">
                    </div>
                </div>
                <div class="feature__item-container">
                    <div class="feature__2">
                        <div class="feature__txt3">
                            Якщо ви не отримали товар, ви можете написати у підтримку і вам повернуть ваші кошти
                        </div>
                        <div class="feature__txt4">
                            Система управління сайтом адаптована спеціально для роботи з різними категоріями скінів
                        </div>
                    </div>
                </div>
            </div>
        </div>   
                <!-- <span class="text1">
                    Ми швидко надаємо товар нашим клієнтам
                </span>
                <span class="text1">
                    Після того, як ви залишите заявку, продавець швидко вам відповість та скаже як отримати свій товар
                </span>
                <span class="text1">
                    Якщо ви не отримали товар, ви можете написати у підтримку і вам повернуть ваші кошти
                </span>
                <span class="text1">
                    Якщо ви не отримали товар, ви можете написати у підтримку і вам повернуть ваші кошти
                </span> -->
            
        <div class="container">
            <div class="under">
                <div class="under__item-container">
                    <div class="under__txt1">
                        <span class="item">
                            Про нас
                        </span>
                        <span class="under__txt4">
                            Умови використання
                        </span>
                        <span class="under__txt4">
                            Політика конфідеційності
                        </span>
                    </div>
                </div>
                <div class="under__item-container">
                    <div class="under__txt2">
                        <span class="item">
                            🅲 🆂 2 🆂 🅺 🅸 🅽 🆂
                        </span>
                        <span class="under__txt5">
                            FAQ
                        </span>
                        <span class="under__txt5">
                            Про нас
                        </span>
                        <span class="under__txt5">
                            Кар’ єра
                        </span>
                    </div>
                </div>
                <div class="under__item-container">
                    <div class="under__txt3">
                        <span class="item">
                            Зв'язатися
                        </span>
                        <span class="under__txt6">
                            support@cs2skins.com
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>