{% extends "index.html" %}
{% load static %}
{% block content %}



<div class="container">
    <div class="Rifles__text">
        <h2>
            {{ title }}
        </h2>
    </div>
    <div class="Rifles">
        {% for RiflePage in RiflesPage %}
        <div class="Rifles__item-container">
            <div class="Rifles__item">
                <div class="Rifles__item-preview">
                    <img src="{{ RiflePage.picture.url }}" alt="">
                    <span>
                        <span class="colortext">$</span> {{ RiflePage.price }}
                    </span>
                </div>
                <div class="Rifles__item-description">
                    <span class="skin">
                        {{ RiflePage.model }}
                    </span>
                    <span>
                        {{ RiflePage.name }}
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
<div class="container">
    <div class="Sniper_Rifles__text">
        <h2>
            Sniper_Rifles
        </h2>
    </div>
    <div class="Sniper_Rifles">
        <div class="Sniper_Rifles__item-container">
            <div class="Sniper_Rifles__item">
                <div class="Sniper_Rifles__item-preview">
                    <img src="{% static 'home/images/image 4.png' %}" alt="">
                    <span>
                        <span class="colortext">$</span> 28 000.00
                    </span>
                </div>
                <div class="Sniper_Rifles__item-description">
                    <span class="skin">
                        Gungnir
                    </span>
                    <span>
                        AWP
                    </span>
                </div>
            </div>
        </div>
        <div class="Sniper_Rifles__item-container">
            <div class="Sniper_Rifles__item">
                <div class="Sniper_Rifles__item-preview">
                    <img src="{% static 'home/images/image 5.png' %}" alt="">
                    <span>
                        <span class="colortext">$</span> 1 215.44
                    </span>
                </div>
                <div class="Sniper_Rifles__item-description">
                    <span class="skin">
                        Death Strike
                    </span>
                    <span>
                        SSG 08
                    </span>
                </div>
            </div>
        </div>
        <div class="Sniper_Rifles__item-container">
            <div class="Sniper_Rifles__item">
                <div class="Sniper_Rifles__item-preview">
                    <img src="{% static 'home/images/image 6.png' %}" alt="">
                    <span>
                        <span class="colortext">$</span> 233.03
                    </span>
                </div>
                <div class="Sniper_Rifles__item-description">
                    <span class="skin">
                        Chronos
                    </span>
                    <span>
                        G3SG1
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="container">
    <div class="Pistols__text">
        <h2>
            Pistols
        </h2>
    </div>
    <div class="Pistols">
        <div class="Pistols__item-container">
            <div class="Pistols__item">
                <div class="Pistols__item-preview">
                    <img src="{% static 'home/images/image 7.png' %}" alt="">
                    <span>
                        <span class="colortext">$</span> 2 500.00
                    </span>
                </div>
                <div class="Pistols__item-description">
                    <span class="skin">
                        Blaze
                    </span>
                    <span>
                        Desert Eagle
                    </span>
                </div>
            </div>
        </div>
        <div class="Pistols__item-container">
            <div class="Pistols__item">
                <div class="Pistols__item-preview">
                    <img src="{% static 'home/images/image 8.png' %}" alt="">
                    <span>
                        <span class="colortext">$</span> 633.18
                    </span>
                </div>
                <div class="Pistols__item-description">
                    <span class="skin">
                        Kill Confirmed
                    </span>
                    <span>
                        USP-S
                    </span>
                </div>
            </div>
        </div>
        <div class="Pistols__item-container">
            <div class="Pistols__item">
                <div class="Pistols__item-preview">
                    <img src="{% static 'home/images/image 9.png' %}" alt="">
                    <span>
                        <span class="colortext">$</span> 1 773.00
                    </span>
                </div>
                <div class="Pistols__item-description">
                    <span class="skin">
                        Fade
                    </span>
                    <span>
                        Glock-18
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="Knives__text">
        <h2>
            Knives
        </h2>
    </div>

    <div class="Knives">
        <div class="Knives__item-container">
            <div class="Knives__item">
                <div class="Knives__item-preview">
                    <img src="{% static 'home/images/image 10.png' %}" alt="">
                    <span>
                        <span class="colortext">$</span> 18 519.31
                    </span>
                </div>
                <div class="Knives__item-description">
                    <span class="skin">
                        Doppler
                    </span>
                    <span>
                        M9 Bayonet
                    </span>
                </div>
            </div>
        </div>
        <div class="Knives__item-container">
            <div class="Knives__item">
                <div class="Knives__item-preview">
                    <img src="{% static 'home/images/image 11.png' %}" alt="">
                    <span>
                        <span class="colortext">$</span> 13 800.00
                    </span>
                </div>
                <div class="Knives__item-description">
                    <span class="skin">
                        Gamma Doppler
                    </span>
                    <span>
                        Karambit
                    </span>
                </div>

            </div>
        </div>
        <div class="Knives__item-container">
            <div class="Knives__item">
                <div class="Knives__item-preview">
                    <img src="{% static 'home/images/image 12.png' %}" alt="">
                    <span>
                        <span class="colortext">$</span> 12 000.00
                    </span>
                </div>
                <div class="Knives__item-description">
                    <span class="skin">
                        Doppler
                    </span>
                    <span>
                        Butterfly Knife
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="Gloves__text">
        <h2>
            Gloves
        </h2>
    </div>
    <div class="Gloves">
        <div class="Gloves__item-container">
            <div class="Gloves__item">
                <div class="Gloves__item-preview">
                    <img src="{% static 'home/images/image 13.png' %}" alt="">
                    <span>
                        <span class="colortext">$</span> 11 000.00
                    </span>
                </div>
                <div class="Gloves__item-description">
                    <span class="skin">
                        Crimson Kimono
                    </span>
                    <span>
                        Specialist Gloves
                    </span>
                </div>
            </div>
        </div>
        <div class="Gloves__item-container">
            <div class="Gloves__item">
                <div class="Gloves__item-preview">
                    <img src="{% static 'home/images/image 14.png' %}" alt="">
                    <span>
                        <span class="colortext">$</span> 19 524.06
                    </span>
                </div>
                <div class="Gloves__item-description">
                    <span class="skin">
                        Pandora's Box
                    </span>
                    <span>
                        Sport Gloves
                    </span>
                </div>

            </div>
        </div>
        <div class="Gloves__item-container">
            <div class="Gloves__item">
                <div class="Gloves__item-preview">
                    <img src="{% static 'home/images/image 15.png' %}" alt="">
                    <span>
                        <span class="colortext">$</span> 2 334.91
                    </span>
                </div>
                <div class="Gloves__item-description">
                    <span class="skin">
                        Finish Line
                    </span>
                    <span>
                        Moto Gloves
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="container">
    <div class="anketa__text">
        <h2>
            Залишити заявку
        </h2>
    </div>
    <div class="anketa">
        <div class="anketa__item-container">
            <div class="anketa__image">
                <img width="425px" src="{% static 'home/images/image 16.png' %}" alt="">
            </div>
        </div>
        <div class="anketa__item-container">
            <div class="anketa__text2">
                <span class="anketa__item1">
                    Як отримати скіни
                </span>
                <span class="anketa__txt">
                    1. Залишити заявку.
                </span>
                <span class="anketa__txt">
                    2. Зачекати відповіді продавця.
                </span>
                <span class="anketa__txt">
                    3. Зробити все, що скаже продавець
                </span>
                <span class="anketa__txt">
                    4. Отримати скіни.
                </span>
            </div>
        </div>
        <div class="anketa__item-container">
            <div class="anketa__sent">
                <input class="anketa__input" type="text" placeholder="Ваше ім’я" id="name">
                <input class="anketa__input" type="text" placeholder="E-mail" id="email">
                <input class="anketa__input" type="text" placeholder="Номер телефону" id="phone_number">
                <textarea class="anketa__coment" type="text" placeholder="Коментар" id="coment"></textarea>
                <button class="anketa__btn" onclick="foo()" id="submit_form">
                    Надіслати
                </button>
            </div>
        </div>
    </div>
</div>

<div class="vidguk__text">
    <h2>
        Поділіться своїми враженнями
    </h2>
</div>
<div class="vidguk">
    <input class="vidguk__input" type="text" placeholder="Ваше ім’я" id="vidguk__name">
    <textarea class="vidguk__area" type="text" placeholder="Відгук" id="vidguk"></textarea>
    <button class="vidguk__btn" onclick="vidguk_foo()" id="submit_vidguk">
        Надіслати
    </button>
</div>

<div class="container">
    <div class="feedback__text">
        <h2>
            Відгуки
        </h2>
    </div>
    <div class="feedback">
        {% for feedback in feedbacks %}
        <div class="feedback__description">
            <div class="feedback__items">
                <span class="feedback_name">
                    {{ feedback.user_name }}:
                </span>
                <span class="feedback_text">
                    {{ feedback.feedback_text }}.
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="container">
    <div class="feature__text">
        <h2>
            Переваги та особливості
        </h2>
    </div>
    <div class="feature">
        <div class="feature__item-container">
            <div class="feature__1">
                <div class="feature__txt1">
                    Ми швидко надаємо товар нашим клієнтам
                </div>
                <div class="feature__txt2">
                    Після того, як ви залишите заявку, продавець швидко вам відповість та скаже як отримати свій товар
                </div>
            </div>
        </div>
        <div class="feature__item-container">
            <div class="feature__image">
                <img width="605px" src="{% static 'home/images/image 17.png' %}" alt="">
            </div>
        </div>
        <div class="feature__item-container">
            <div class="feature__2">
                <div class="feature__txt3">
                    Якщо ви не отримали товар, ви можете написати у підтримку і вам повернуть ваші кошти
                </div>
                <div class="feature__txt4">
                    Система управління сайтом адаптована спеціально для роботи з різними категоріями скінів
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <span class="text1">
                    Ми швидко надаємо товар нашим клієнтам
                </span>
                <span class="text1">
                    Після того, як ви залишите заявку, продавець швидко вам відповість та скаже як отримати свій товар
                </span>
                <span class="text1">
                    Якщо ви не отримали товар, ви можете написати у підтримку і вам повернуть ваші кошти
                </span>
                <span class="text1">
                    Якщо ви не отримали товар, ви можете написати у підтримку і вам повернуть ваші кошти
                </span> -->

{% endblock %}