body {
  background-color: #1D2328;
  margin: 0;
  font-family: Arial;
}

.colortext {
  color: #2FAF88;
}

.head {
  background-color: #282F36;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 15px;
  padding-top: 15px;
}

.nav a {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 125px;
}

.logo {
  margin: 25px;
}

.skin {
  font-weight: 700;
  color: white;
  font-size: large;
  padding-bottom: 5px;
}

.Rifles {
  display: flex;
  flex-direction: row;
  margin-left: 75px;
  justify-content: center;
}
.Rifles__text {
  color: white;
  display: flex;
  justify-content: center;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: 20px;
}
.Rifles__item-preview {
  background-color: #282F36;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium";
  font-size: x-large;
}
.Rifles__item {
  display: flex;
  flex-direction: column;
  background-color: #20282D;
  margin-right: 100px;
  padding: 10px;
  width: 300px;
}
.Rifles__item-description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #ABAEB0;
  font-size: small;
}

.Sniper_Rifles {
  display: flex;
  flex-direction: row;
  margin-left: 75px;
  justify-content: center;
}
.Sniper_Rifles__text {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.Sniper_Rifles__item-preview {
  background-color: #282F36;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: x-large;
  font-weight: 600;
  font-family: "Franklin Gothic Medium";
}
.Sniper_Rifles__item {
  display: flex;
  flex-direction: column;
  background-color: #20282D;
  margin-right: 100px;
  padding: 10px;
  width: 300px;
}
.Sniper_Rifles__item-description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #ABAEB0;
  font-size: small;
}

.Pistols {
  display: flex;
  flex-direction: row;
  margin-left: 75px;
  justify-content: center;
}
.Pistols_text {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.Pistols__item-preview {
  background-color: #282F36;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: x-large;
  font-weight: 600;
  font-family: "Franklin Gothic Medium";
}
.Pistols__item {
  display: flex;
  flex-direction: column;
  background-color: #20282D;
  margin-right: 100px;
  padding: 10px;
  width: 300px;
}
.Pistols__item-description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #ABAEB0;
  font-size: small;
}

.Knives {
  display: flex;
  flex-direction: row;
  margin-left: 75px;
  justify-content: center;
}
.Knives_text {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.Knives__item-preview {
  background-color: #282F36;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: x-large;
  font-weight: 600;
  font-family: "Franklin Gothic Medium";
}
.Knives__item {
  display: flex;
  flex-direction: column;
  background-color: #20282D;
  margin-right: 100px;
  padding: 10px;
  width: 300px;
}
.Knives__item-description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #ABAEB0;
  font-size: small;
}

.Gloves {
  display: flex;
  flex-direction: row;
  margin-left: 75px;
  justify-content: center;
}
.Gloves_text {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.Gloves__item-preview {
  background-color: #282F36;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: x-large;
  font-weight: 600;
  font-family: "Franklin Gothic Medium";
}
.Gloves__item {
  display: flex;
  flex-direction: column;
  background-color: #20282D;
  margin-right: 100px;
  padding: 10px;
  width: 300px;
}
.Gloves__item-description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #ABAEB0;
  font-size: small;
}

.anketa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.anketa__text {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.anketa__image {
  margin-right: 50px;
}
.anketa__text2 {
  display: flex;
  flex-direction: column;
  background-color: #15191C;
  padding-left: 20px;
  color: #BCBEBF;
  align-items: start;
  justify-content: space-around;
  width: 425px;
  margin-right: 40px;
  border-radius: 10px;
  height: 460px;
}
.anketa_txt {
  font-size: large;
}
.anketa__sent {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  color: #AFB1B3;
  align-items: start;
  width: 425px;
  font-size: small;
  height: 475px;
}
.anketa__item1 {
  color: white;
  font-size: x-large;
  font-weight: 700;
}
.anketa__input {
  background-color: #2C3135;
  color: white;
  border-radius: 11px;
  height: 40px;
  width: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  margin-bottom: 20px;
}
.anketa__coment {
  background-color: #2C3135;
  color: white;
  border-radius: 11px;
  color: white;
  height: 175px;
  width: 415px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.anketa__btn {
  background-color: #33613E;
  border-radius: 11px;
  height: 50px;
  width: 440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  color: white;
  transition: background-color 0.5s ease;
  font-size: medium;
  font-weight: 700;
}
.anketa__btn:hover {
  background-color: #218538;
  cursor: pointer;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #20282D;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;
}
.feature__1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #20282D;
  padding-top: 50px;
}
.feature__2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  background-color: #20282D;
  padding-bottom: 50px;
}
.feature__3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #20282D;
  padding-top: 50px;
  padding-bottom: 50px;
}
.feature__text {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.feature__txt1 {
  display: flex;
  flex-direction: column;
  background-color: #15191C;
  padding-left: 20px;
  color: #C5C6C6;
  align-items: start;
  justify-content: center;
  padding-top: 20px;
  height: 200px;
  padding-right: 50px;
  font-weight: 300;
  font-size: large;
  width: 300px;
  border-radius: 15px;
}
.feature__txt2 {
  display: flex;
  flex-direction: column;
  background-color: #15191C;
  padding-left: 20px;
  color: #C5C6C6;
  align-items: start;
  justify-content: center;
  padding-top: 20px;
  height: 200px;
  padding-right: 50px;
  font-weight: 300;
  font-size: large;
  margin-left: 100px;
  width: 300px;
  border-radius: 15px;
}
.feature__txt3 {
  display: flex;
  flex-direction: column;
  background-color: #15191C;
  padding-left: 20px;
  color: #C5C6C6;
  align-items: start;
  justify-content: center;
  padding-top: 20px;
  height: 200px;
  padding-right: 50px;
  font-weight: 300;
  font-size: large;
  width: 300px;
  border-radius: 15px;
}
.feature__txt4 {
  display: flex;
  flex-direction: column;
  background-color: #15191C;
  padding-left: 20px;
  color: #C5C6C6;
  align-items: start;
  justify-content: center;
  padding-top: 20px;
  height: 200px;
  padding-right: 50px;
  font-weight: 300;
  font-size: large;
  margin-left: 100px;
  width: 300px;
  border-radius: 15px;
}
.feature__txt5 {
  display: flex;
  flex-direction: column;
  background-color: #15191C;
  padding-left: 20px;
  color: #C5C6C6;
  align-items: start;
  justify-content: center;
  padding-right: 50px;
  font-weight: 300;
  font-size: larger;
  width: 350px;
  height: 200px;
  margin-right: 50px;
  border-radius: 15px;
}
.feature__txt6 {
  display: flex;
  flex-direction: column;
  background-color: #15191C;
  padding-left: 20px;
  color: #C5C6C6;
  align-items: start;
  justify-content: center;
  padding-right: 50px;
  font-weight: 300;
  font-size: larger;
  width: 350px;
  height: 200px;
  margin-left: 50px;
  border-radius: 15px;
}
.feature__image {
  background-color: #20282D;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.under {
  background-color: #15191C;
  display: flex;
  flex-direction: row;
  color: white;
}
.under__text1 {
  margin-bottom: 20px;
}
.under__txt1 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
  margin-right: 300px;
  margin-left: 50px;
}
.under__txt2 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
  margin-right: 300px;
}
.under__txt3 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
}
.under__txt4 {
  padding-top: 10px;
  padding-bottom: 5px;
  color: #585A5C;
  font-size: small;
}
.under__txt5 {
  padding-top: 10px;
  padding-bottom: 5px;
  color: #585A5C;
  font-size: small;
}
.under__txt6 {
  padding-top: 10px;
  padding-bottom: 5px;
  color: #585A5C;
  font-size: small;
}
.under__item {
  color: white;
}

.container {
  max-width: 1320px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */