* {
    box-sizing: border-box;
}

body {
    background-color: #1D2328;
    margin: 0;
    font-family: Arial;
    
}
.colortext {
    color: #2FAF88;
}
.skin {
    font-weight: 700;
    color: white;
    font-size: large;
    padding-bottom: 5px;
}



.Rifles{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;


    &__item-container{
        width: 33.3333%;
    }
    &__text {
        color: white;
        display: flex;
        justify-content: center;
        font-style: normal;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &__item-preview{
        background-color: #282F36;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium';
        font-size: x-large;
        img{
            width: 100%;
        }
        
    }
    &__item{
        display:flex;
        flex-direction: column;
        background-color: #20282D;
        padding: 10px;
        margin-right: 50px;
        border-radius: 10px;
    }
    
    &__item-description{
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: #ABAEB0;
        font-size: small;
    }
    
}


.Sniper_Rifles{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;


    &__item-container{
        width: 33.3333%;
    }
    &__text {
        color: white;
        display: flex;
        justify-content: center;
        font-style: normal;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &__item-preview{
        background-color: #282F36;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium';
        font-size: x-large;
        img{
            width: 100%;
        }
        
    }
    &__item{
        display:flex;
        flex-direction: column;
        background-color: #20282D;
        padding: 10px;
        margin-right: 50px;
        border-radius: 10px;
    }
    
    &__item-description{
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: #ABAEB0;
        font-size: small;
    }
    
}




.Pistols{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;

    &__item-container{
        width: 33.3333%;
    }
    &__text {
        color: white;
        display: flex;
        justify-content: center;
        font-style: normal;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &__item-preview{
        background-color: #282F36;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium';
        font-size: x-large;
        img{
            width: 100%;
        }
        
    }
    &__item{
        display:flex;
        flex-direction: column;
        background-color: #20282D;
        padding: 10px;
        margin-right: 50px;
        border-radius: 10px;
    }
    
    &__item-description{
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: #ABAEB0;
        font-size: small;
    }
    
}




.Knives{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;

    &__item-container{
        width: 33.3333%;
    }
    &__text {
        color: white;
        display: flex;
        justify-content: center;
        font-style: normal;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &__item-preview{
        background-color: #282F36;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium';
        font-size: x-large;
        img{
            width: 100%;
        }
        
    }
    &__item{
        display:flex;
        flex-direction: column;
        background-color: #20282D;
        padding: 10px;
        margin-right: 50px;
        border-radius: 10px;
    }
    
    &__item-description{
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: #ABAEB0;
        font-size: small;
    }
    
}





.Gloves{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;

    &__item-container{
        width: 33.3333%;
    }
    &__text {
        color: white;
        display: flex;
        justify-content: center;
        font-style: normal;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &__item-preview{
        background-color: #282F36;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium';
        font-size: x-large;
        img{
            width: 100%;
        }
        
    }
    &__item{
        display:flex;
        flex-direction: column;
        background-color: #20282D;
        padding: 10px;
        margin-right: 50px;
        border-radius: 10px;
    }
    
    &__item-description{
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: #ABAEB0;
        font-size: small;
    }
    
}



.anketa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__item-container{
        width: 33.3333%;               
    }
    &__item-content {
        display: flex;
        justify-content: center;
        padding: 0 20px;
    }
    &__text {
        color: white;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &__text2{
        display: flex;
        flex-direction: column;
        background-color: #15191C;
        padding-left: 20px;
        color: #BCBEBF;   
        align-items: start;
        justify-content: space-around;
        width: 425px;
        border-radius: 10px;
        height: 460px;
    }
    &_txt {
        font-size: large;
    }
    &__sent{
        display: flex;
        flex-direction: column;
        color: #AFB1B3;   
        align-items: start;
        width: 425px;
        font-size: small;
        height: 475px;
    }
    &__item1 {
        color: white;
        font-size: x-large;
        font-weight: 700;
    }
    
    &__input {
        background-color: #2C3135;
        color: white;
        border-radius: 11px;
        height: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    &__coment {
        background-color: #2C3135;
        color: white;
        border-radius: 11px;
        height: 175px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 20px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    &__btn {
        background-color: #33613E;
        border-radius: 11px;
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
        color: white;
        transition: background-color 0.5s ease;
        font-size: medium;
        font-weight: 700;
    }
    &__btn:hover {
        background-color: #218538;
        cursor: pointer;
    }
}



.vidguk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161b20;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;


    &__text{
        color: white;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &__input{
        background-color: #20272c;
        color: white;
        border-radius: 11px;
        height: 50px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    &__area{
        background-color: #20272c;
        color: white;
        border-radius: 11px;
        height: 300px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px;
        padding-top: 20px;
    }
    &__btn {
        margin-top: 20px;
        background-color: #33613E;
        border-radius: 11px;
        height: 50px;
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        color: white;
        transition: background-color 0.5s ease;
        font-size: medium;
        font-weight: 700;
    }
    &__btn:hover {
        background-color: #218538;
        cursor: pointer;
    }
}


.feedback {
    display: flex;
    flex-direction: column;
    color: rgb(185, 185, 185);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #161b20;
    &__description{
        background-color: #28343d;
        padding: 7px ;
        width: max-content;
        border-radius: 10px;
        font-size: 24px;
        margin-bottom: 15px;
    }
    &__text {
        color: white;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    &__items{
        padding: 15px;
        border-radius: 10px;
        background-color: #20272e;
        
    }
    
}



.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #20282D;
    margin-bottom: 100px;
    border-radius: 10px;
    margin: 0 auto;
    &__image {
        background-color: #20282D;
        display: flex;
        flex-direction: row;
        justify-content: center;
        picture{
            width: 65%;
            img {
                width: 100%;
            }
        }
    }
    &__1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    &__3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
      }
    &__text {
        color: white;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    
    &__txt1 {
        display: flex;
        flex-direction: column;
        background-color: #15191C; 
        padding-left: 20px;
        color: #C5C6C6;   
        align-items: start;
        justify-content: center;
        padding-top: 20px;
        height: 200px;
        padding-right: 50px;
        margin-right: 75px;
        font-weight: 300;
        font-size: large;
        width: 350px;
        border-radius: 15px;
    }
    &__txt2 {
        display: flex;
        flex-direction: column;
        background-color: #15191C; 
        padding-left: 20px;
        color: #C5C6C6;   
        align-items: start;
        justify-content: center;
        padding-top: 20px;
        height: 200px;
        padding-right: 50px;
        font-weight: 300;
        font-size: large;
        margin-left: 75px;
        width: 350px;
        border-radius: 15px;
    }
    &__txt3 {
        display: flex;
        flex-direction: column;
        background-color: #15191C; 
        padding-left: 20px;
        color: #C5C6C6;   
        align-items: start;
        justify-content: center;
        padding-top: 20px;
        height: 200px;
        padding-right: 50px;
        margin-right: 75px;
        font-weight: 300;
        font-size: large;
        width: 350px;
        border-radius: 15px;
    }
    &__txt4 {
        display: flex;
        flex-direction: column;
        background-color: #15191C; 
        padding-left: 20px;
        color: #C5C6C6;   
        align-items: start;
        justify-content: center;
        padding-top: 20px;
        height: 200px;
        padding-right: 50px;
        font-weight: 300;
        font-size: large;
        margin-left: 75px;
        width: 350px;
        border-radius: 15px;
    }

}












.container {
    max-width: 1320px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}



@media (max-width: 1499px) {
    .anketa{
        flex-wrap: wrap;
        &__item-container{
            width: 50%;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
    }
       
@media (max-width: 1199px) {
    .feature__txt1{
        margin-right: 50px;
    }
    .feature__txt2{
        margin-left: 50px;
    }
    .feature__txt3{
        margin-right: 50px;
    }
    .feature__txt4{
        margin-left: 50px;
    }
    





}
@media (max-width: 991px) {
    .feature__txt1{
        margin-right: 0;
        margin-bottom: 40px;
    }
    .feature__txt2{
        margin-left: 0;
    }
    .feature__txt3{
        margin-right: 0;
        margin-bottom: 40px;
    }
    .feature__txt4{
        margin-left: 0;
    }
    .feature__1{
        
        align-items: center;
        flex-direction: column;
    }

    .feature__2{
        align-items: center;
        flex-direction: column;
    }

    .anketa{
        justify-content: center;
        &__item-container{
            width: 100%;
        }
    }
    .Rifles{
        justify-content: center;
        margin-left: 0;
        flex-wrap: wrap;
        &__item-container{
            width: 50%;
        }
    }
    .Rifles__item{
        margin-bottom: 30px;

    }
    .Sniper_Rifles{
        justify-content: center;
        margin-left: 0;
        flex-wrap: wrap;
        &__item-container{
            width: 50%;
        }
    }
    .Sniper_Rifles__item{
        margin-bottom: 30px;
    }
    .Pistols{
        justify-content: center;
        margin-left: 0;
        flex-wrap: wrap;
        &__item-container{
            width: 50%;
        }
    }
    .Pistols__item{
        margin-bottom: 30px;
    }
    .Knives{
        justify-content: center;
        margin-left: 0;
        flex-wrap: wrap;
        &__item-container{
            width: 50%;
        }
    }
    .Knives__item{
        margin-bottom: 30px;
    }
    .Gloves{
        justify-content: center;
        margin-left: 0;
        flex-wrap: wrap;
        &__item-container{
            width: 50%;
        }
    }
    .Gloves__item{
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {    

    .feedback{
        &__description {
            width: 100%;
            
        }
    }
    .anketa{
        margin-left: 0;
    }
    .Rifles{
        justify-content: center;
        &__item-container{
            width: 75%;
        }
        
        &__item {
            margin-right: 0;
        }
    }
    .Sniper_Rifles{
        justify-content: center;
        &__item-container{
            width: 75%;
        }
        &__item {
            margin-right: 0;
        }
    }
    .Pistols{
        justify-content: center;
        &__item-container{
            width: 75%;
        }
        &__item {
            margin-right: 0;
        }
    }
    .Knives{
        justify-content: center;
        &__item-container{
            width: 75%;
        }
        &__item {
            margin-right: 0;
        }
    }
    .Gloves{
        justify-content: center;
        &__item-container{
            width: 75%;
        }
        &__item {
            margin-right: 0;
        }
    }
    .vidguk{
        &__input{
            width: 90%;
        }
        &__area{
            width: 90%;
        }
        &__btn{
            width: 90%;
        }
    }
}
